<%- include("partials/header") %> 
<h2 class="hed">About</h2>
<p><%= about %> </p><br><br>
<div class="days">
<h3>Contact Me : </h3>
<a href="https://www.google.com"><i class=" con fa-brands fa-instagram-square fa-3x fa-fade"></i></a>
<a href="https://www.google.com"><i class=" con fa-solid fa-envelope-open-text fa-3x fa-fade"></i></a>
<a href="https://www.google.com"><i class=" con fa-brands fa-linkedin fa-3x fa-fade"></i></a>
<a href="https://www.google.com"><i class=" con fa-brands fa-twitter fa-3x fa-fade"></i></a>
</div>
<%- include("partials/footer") %> 